# version: 0.1.46
on: 
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v2
        with:
          ref: main
          token: ${{ secrets.TOKEN_DAIMOR }}
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Cancel running workflows
        uses: actions/github-script@v2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            console.log(context);
            console.log(core);
            const runs = await github.actions.listWorkflowRunsForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 276983,
              status: "in_progress",
              event: "push",
              branch: "main",
            });

            console.log(runs);
      - uses: actions/javascript-action@v1
        with:
          milliseconds: 60000

            # for (const run of runs) {
            #   await github.actions.cancelWorkflowRun({
            #     owner: context.repo.owner,
            #     repo: context.repo.repo,
            #     run_id: run.id
            #   })
            # }
