# version: 0.1.56
on: 
  push:
    branches:
      - main
jobs:
  cancel-redundant:
    runs-on: ubuntu-latest
    steps:  
      - uses: technote-space/auto-cancel-redundant-job@v1
  build:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v2
        with:
          ref: main
          token: ${{ secrets.TOKEN_DAIMOR }}
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/javascript-action@v1
        with:
          milliseconds: 60000
